* {
   box-sizing: border-box;
}

.flex {
   display: flex;
   gap: 10px;
}

.container {
   max-width: 70vw;
   margin-inline: auto;
}

@each $name, $value in $font-sizes {
   .fs-#{$name} {
      font-size: $value;
   }
}